 <li>
 		<% if user.image.url == nil %>
            <%= image_tag "userimg.jpeg", :size => "80x80" %>
        <% else %>
            <%= image_tag user.image_url(:thumb).to_s %>
        <% end %>
       <%#= image_tag  user.image_url(:thumb).to_s %>
       <%= link_to user.name, user %>        
       <% if current_user.admin? && !current_user?(user) %>
       		<%= link_to "|| delete" , user, method: :delete, data: { 					   confirm: "You sure?" } %>
       <% end %>
 </li>
